@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'variables.scss';

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: $white;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', serif;
}

* {
  color: $black;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
