$whiteLightness: 100%;
$white: hsl(0, 0%, $whiteLightness);
$greyF8: hsl(0, 0%, calc($whiteLightness - 2.75%));
$greyEB: hsl(0, 0%, calc($whiteLightness - 7.84%));
$lightViolet: #876aae;
$violet: #512689; 
$red: #ff6161;
$grey: #808185;
$black: #151317;
